//  Color variables
$text-primary-color:#a6a7a9;
$text-secondary-color:#fff;
$text-tertiary-color:#ff8b38;
$heading-color:#000000;
$tab-background-color:#333333;
$customer-testimony-bg:#f5f5f5;
$header-background-color:#000000;
$footer-background-color:#000000;
// FORM VARIABLES
$form-header-bg-color:#f5f5f5;
$form-body-bg-color:#fff;
$form-footer-bg-color:#ff9b51;
//Social Network Color\
$facebook-bg-color:blue;
$twitter-bg-color:#008080;
$googleplus-bg-color:#ff0000;
$instagram-bg-color:#8b0000;
$pinterest-bg-color:#b22222;
$wifi-bg-color:#dc143c;
//Section tabs
$section-tab-bg-color:#f5f5f5;
$tab-btn-bg-color:#333333;