/*Styles for the social networks section*/

div.section-social {
    .row {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    .section-social__title {
        @include margin-bottom;
    }
    .social-social_paragraph {
        color: $text-primary-color;
    }
    .list-social {
        display: inline-block;
        margin-top: 1.5rem;
        color: $text-primary-color;
        font-size: 2rem;
        text-align: center;
        width: 100%;
        margin-left: 1%;
        .social-links {
            @include visited;
            transition: all 3s;
            i.fa {
                margin-right: 5%;
            }
            // Facebook
            i.fa.fa-facebook:hover {
                background-color: $facebook-bg-color;
                @include links;
            }
            i.fa.fa-facebook:active {
                background-color: $facebook-bg-color;
                @include links;
            }
            i.fa.fa-facebook:visited {
                @include visited;
            }
            //Twitter
            i.fa.fa-twitter:hover {
                background-color: $twitter-bg-color;
                @include links;
            }
            i.fa.fa-twitter:active {
                background-color: $twitter-bg-color;
                @include links;
            }
            i.fa.fa-twitter:visited {
                @include visited;
            }
            //Google-plus
            i.fa.fa-google-plus:hover {
                background-color: $googleplus-bg-color;
                @include links;
            }
            i.fa.fa-google-plus:active {
                background-color: $googleplus-bg-color;
                @include links;
            }
            i.fa.fa-google-plus:visited {
                @include visited;
            }
            //Pinterest
            i.fa.fa-pinterest:hover {
                background-color: $pinterest-bg-color;
                @include links;
            }
            i.fa.fa-pinterest:active {
                background-color: $pinterest-bg-color;
                @include links;
            }
            i.fa.fa-pinterest:visited {
                @include visited;
            }
            //Instagram
            i.fa.fa-instagram:hover {
                background-color: $instagram-bg-color;
                @include links;
            }
            i.fa.fa-instagram:active {
                background-color: $instagram-bg-color;
                @include links;
            }
            i.fa.fa-instagram:visited {
                @include visited;
            }
            // Wifi
            i.fa.fa-wifi:hover {
                background-color: $wifi-bg-color;
                @include links;
            }
            i.fa.fa-wifi:active {
                background-color: $wifi-bg-color;
                @include links;
            }
            i.fa.fa-wifi:visited {
                @include visited;
            }
        }
    }
}


/* Tabs Section Styles*/

div.section-tabs {
    background-color: $section-tab-bg-color;
    .tab-buttons {
        @include tabs-margin-top;
        margin-bottom: 4rem;
        .btn-tabs:link {
            display: block;
            background-color: $tab-btn-bg-color;
            width: 5.5rem;
            height: 5.5rem;
            color: $text-secondary-color;
            font-size: 1.5rem;
            border-radius: 0;
            margin-top: 2px;
            position: relative;
            box-shadow: 0 -.1rem .2rem $header-background-color;
            .clicked {
                background-color: $text-tertiary-color!important;
            }
            &:hover {
                background-color: $text-tertiary-color;
            }
            span.link-text {
                position: relative;
                top: 28%;
                color: $text-secondary-color;
            }
        }
        .btn-tabs:visited {
            color: $text-secondary-color;
        }
    }
    .tab-container {
        margin-top: 4rem;
        position: relative;
        .tabs-card {
            position: absolute;
            top: 0;
            left: 0;
        }
        .tabs-card:not(:first-child) {
            display: none;
        }
        .section-tab3__title {
            text-transform: capitalize;
            margin-bottom: 1rem;
        }
        .section-tabs__paragraph {
            color: $text-primary-color;
            word-spacing: 2px;
        }
        .btn-download {
            color: $text-tertiary-color;
            background-color: transparent;
            border: 1px solid $text-tertiary-color;
            height: 3rem;
            width: 25%;
            margin-top: 2rem;
            &:hover {
                color: $text-secondary-color;
                background-color: $text-tertiary-color;
            }
        }
    }
    .img-container {
        margin-top: 2rem;
        .img-fluid {
            max-width: 170%;
            height: auto;
        }
    }
}


/*----------------------------------------
            PRICING STYLES
------------------------------------------*/

.pricing {
    background-color: $customer-testimony-bg;
    .row {
        margin-bottom: 5rem;
    }
    &-header {
        padding-top: 7.5rem;
        text-align: center;
        &__title {
            margin-bottom: 1.4rem;
        }
        &__divider {
            @include horizontal-divider;
        }
        &__text {
            margin-top: 1.5rem;
            margin-bottom: 6rem;
            color: $text-primary-color;
        }
    }
    &-body__table-basic {
        width: 22vw;
        margin-right: 2vw;
        text-align: center;
        color: $text-secondary-color;
        //header of the basic table
        &--header {
            background-color: black;
            border-bottom: .3rem solid $text-tertiary-color!important;
            &-title {
                padding: 1rem 0;
            }
            &-price {
                font-size: 5rem;
                padding-bottom: .5rem;
                font-style: italic;
                font-weight: 700;
            }
            &-paragraph {
                color: $text-primary-color;
                padding-bottom: 1.5rem;
                font-style: italic;
            }
        }
        //Body of the basic table
        &--text {
            @include table-text;
            &:not(:last-child) {
                margin-bottom: .1rem;
            }
        }
    }
    //Professional table
    &-body__table-professional {
        width: 22vw;
        margin-right: 2vw;
        text-align: center;
        color: $text-secondary-color;
        &--header {
            background-color: black;
            border-bottom: .3rem solid $text-tertiary-color!important;
            &-title {
                padding: 1rem 0;
                margin-top: -2.5rem;
            }
            &-price {
                font-size: 5rem;
                padding-bottom: 1rem;
                font-style: italic;
                font-weight: 700;
            }
            &-paragraph {
                color: $text-primary-color;
                padding-bottom: 1rem;
                font-style: italic;
                position: relative;
                &--popular {
                    background-color: $text-tertiary-color;
                    font-style: italic;
                    color: $text-secondary-color;
                    position: relative;
                    transform: translateY(5px);
                    top: 1.2rem;
                }
            }
        }
        //Body of the professional table
        &--text {
            @include table-text;
            &:not(:last-child) {
                margin-bottom: .1rem;
            }
        }
    }
    //Enterprice table
    &-body__table-enterprice {
        width: 22vw;
        text-align: center;
        color: $text-secondary-color;
        //header of the enterprice table
        &--header {
            background-color: black;
            border-bottom: .3rem solid $text-tertiary-color!important;
            &-title {
                padding: 1rem 0;
            }
            &-price {
                font-size: 5rem;
                padding-bottom: .5rem;
                font-style: italic;
                font-weight: 700;
            }
            &-paragraph {
                color: $text-primary-color;
                padding-bottom: 1.5rem;
                font-style: italic;
            }
        }
        //Body of the enterprice table
        &--text {
            @include table-text;
            &:not(:last-child) {
                margin-bottom: .1rem;
            }
        }
    }
}

hr.pricing-divider {
    border: 1px solid $text-secondary-color;
}

i.pricing-icon.fa.fa-dollar {
    font-size: 35px;
    font-style: italic;
    font-weight: 700;
}


/*-------------------------------------------
-------------------STYLISH SECTION-----------
----------------------------------------------*/

.section-stylish {
    text-align: center;
    color: white;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &__title {
        padding-top: 3rem;
    }
    &__divider {
        margin-top: 2rem;
        margin-bottom: 2rem;
        border: 1px solid $text-secondary-color!important;
        width: 15%;
    }
    &__text {
        padding-bottom: 3rem;
    }
    .button-dark {
        color: $text-secondary-color;
        background-color: transparent;
        background-image: none;
        border-color: $text-secondary-color;
        padding: 8px 15px 8px 15px;
        border-radius: 0;
        margin-bottom: 2rem;
        transition: all 1sec;
        &:hover {
            color: $text-tertiary-color;
            background-color: $heading-color;
            border-color: $text-tertiary-color;
            transform: scale(1.1);
        }
    }
}


/*----------------------------------------------------------
------------------STYLES FOR THE TESTIMONY SECTION----------*/

.testimonial {
    text-align: center;
    color: $text-primary-color;
    &-header {
        margin-bottom: 4rem;
        &__title {
            color: $heading-color;
            padding-top: 3rem;
        }
        &__divider {
            @include horizontal-divider;
        }
        &__text {
            padding: 2.5re 0;
        }
    }
    &-body {
        position: relative;
        &__text {
            background-color: lighten($text-primary-color, 20%);
            padding: 2rem;
            border-radius: .5rem;
            color: black;
            margin-bottom: 2.5rem;
        }
        &__link {
            position: relative;
            &-image {
                border-radius: 50%;
            }
            width: 50%;
            border-radius: 50%;
            float: left;
            position: relative;
            &-image--name {
                color: $heading-color;
                margin-top: 6rem;
                font-weight: 700;
                text-decoration: none;
                display: none;
            }
            &:hover {
                .testimonial-body__link-image {
                    filter: blur(2px);
                }
                .testimonial-body__link-image--name {
                    position: absolute;
                    font-size: 1.2rem;
                    font-weight: 900;
                    color: $heading-color;
                    top: -2rem;
                    left: 50px;
                    display: inline-block;
                    filter: none;
                }
            }
        }
        &__image {
            width: 50%;
            border-radius: 50%;
            float: left;
            position: relative;
        }
        &__image-name {
            color: $heading-color;
            margin-top: 6rem;
            font-weight: 700;
            text-decoration: none;
        }
    }
}