.whyus {
    margin-top: 7.5rem;
    margin-bottom: 4.5rem;
    text-align: center;
    &-divider {
        margin-top: 1.4rem;
        margin-bottom: 1rem;
        border: 1px solid #ff8b38 !important;
        width: 15%;
    }
    &-paragraph {
        margin-top: 1.5rem;
        color: $text-primary-color;
    }
    &-icons {
        color: #ff8b38;
        font-size: 2rem;
        padding: 1rem;
        border: 3px solid #ff8b38;
        border-radius: 50%;
        margin-bottom: 2rem;
    }
}